@using LojaProdutos.Models
@model ProdutoModel

<div class="container my-5">

    <div class="p-5 text-center bg-body-tertiary rounded-3">

        <img src="~/imagem/@Model.Foto" style="width:350px; height:350px;"/>
        
        <h3 class="text-body-emphasis">@Model.Nome</h3>
        
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            @Model.Marca - @Model.Categoria.Nome
        </p>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-size:45px">R$ @Model.Valor.ToString("F")</li>
        </ul>

        <form method="post" asp-action="BaixarEstoque" asp-controller="Estoque" asp-route-id="@Model.Id" class="mt-5">
            <button type ="submit" class="btn btn-outline-warning w-25">Comprar</button>
        </form>
        
        <a class="btn btn-outline-info w-25 mt-3" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-left-circle"></i> Voltar</a>
    
    </div>

</div>