@using LojaProdutos.Models
@model List<UsuarioModel>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Listagem de Usuarios</h2>
        <a asp-controller="Usuario" asp-action="Cadastrar" class="btn btn-outline-success"><i class="bi bi-person"></i> Cadastrar Novo Usuario</a>
    </div>

    <table class="table table-hover table-bordered" id="registros">
        <thead>
            <tr class="table-dark">
                <th>Cargo</th>
                <th>Nome</th>
                <th>Estado</th>
                <th>Email</th>
                <th>Data de Criação</th>
                <th></th>
                
            </tr>
            <tbody>
                @if(Model != null)
                {
                    @if(Model.Count > 0)
                    {
                        @foreach(var usuario in Model)
                        {
                            <tr>
                                <td>@usuario.Cargo</td>
                                <td>@usuario.Nome</td>
                                <td>@usuario.Endereco.Estado</td>
                                <td>@usuario.Email</td>
                                <td>@usuario.DataAlteracao.ToString("dd/mm/yyyy")</td>
                                <td><a asp-controller="Usuario" asp-action="Editar" asp-route-id="@usuario.Id" class="btn btn-outline-info"><i class="bi bi-pencil"></i> Editar</a></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </thead>
    </table>
</div>